<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/chekboxx.css">
</head>
<body>
    <section>
        <div class="create_container">
            <input class="create_input"
            type="text"
            placeholder="Новая задача..."/>
            <button class="create_button" >Добавить</button>
        </div>
        <div class="todo_container">
            <div class="todo_item">

                <div class="todo_item_header">
                    <label class="chekbox_container">
                        <input type="checkbox" checked="checked"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>

                <div class="todo_item_footer">
                    <p>17.11.2020<span>17:32</span></p>
                    <div class="action.buttons">
                      <img src="./image/star_26px.png"/>  
                      <img src="./image/delete_bin_24px.png" />
                    </div>
                </div>
            </div>
            
            <div class="todo_item marked">

                <div class="todo_item_header">
                    <label class="chekbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>

                <div class="todo_item_footer">
                    <p>17.11.2020<span>17:32</span></p>
                    <div class="action_buttons">
                      <img src="./image/star_26px.png"/>  
                      <img src="./image/delete_bin_24px.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item done">

                <div class="todo_item_header">
                    <label class="chekbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020<span>17:32</span></p>
                    <div class="action.buttons">
                      <img src="./image/star_26px.png"/>  
                      <img src="./image/delete_bin_24px.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item marked">

                <div class="todo_item_header">
                    <label class="chekbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020<span>17:32</span></p>
                    <div class="action_buttons">
                      <img src="./image/star_26px.png"/>  
                      <img src="./image/delete_bin_24px.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item">

                <div class="todo_item_header">
                    <label class="chekbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020<span>17:32</span></p>
                    <div class="action_buttons">
                      <img src="./image/star_26px.png"/>  
                      <img src="./image/delete_bin_24px.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item done">

                <div class="todo_item_header">
                    <label class="chekbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark   "></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020<span>17:32</span></p>
                    <div class="action_buttons">
                      <img src="./image/star_26px.png"/>  
                      <img src="./image/delete_bin_24px.png" />
                    </div>
                </div>
            </div>
           </div>
        
    </section>
    <!-- <button id="btn_button1" >click here</button>
    <input id="text_input" type="text"> 
    <p id="result"></p> -->
<script src="./script.js"></script>
</body>
</html>