{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo</title>
        <!-- <link rel="stylesheet" href="./style/style.css"> -->
        <link rel="stylesheet" href="{% static 'style/style.css'%}">
        <!-- <link rel="stylesheet" href="./style/chekboxx.css"> -->
        <link rel="stylesheet" href="{% static 'style/chekboxx.css'%}">
    </head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-todo' %}" method="POST">  
                {% csrf_token %}
                <input class="create_input"
                type="text"
                placeholder="новая задача..."
                name="todo_text"/>
                <button class="create_button" >Добавить</button>
            </form>
        </div>  

        <div class="todo_container">
            {% for todo in todo_list %}
            <div class="todo_item
            {% if todo.is_favorite %}
                marked
            {% elif todo.is_closed %}
                done
            {% endif %}
            ">

                <div class="todo_item_header">
                    <label class="chekbox_container">
                        <input type="checkbox" 
                        {% if todo.is_closed %}
                            checked
                        {% endif %}
                        />
                        <span class="checkmark"></span>
                    </label>
                    <h4><a href="{% url 'close-todo' todo.id %}">{{ todo.text}}</a></h4>
                </div>

                <div class="todo_item_footer">
                    <p> {{ todo.created_at}} </p>
                    <div class="action.buttons">
                        {% if todo.is_favorite %}
                        <a href="{% url 'unmark-todo' todo.id %}"><img src="{% static './image/star_48px.png' %}"/>  </a>
                        {% else %}
                      <a href="{% url 'mark-todo' todo.id %}"><img src="{% static './image/star_26px.png' %}"/>  </a>
                        {% endif %}
                      <a href="{% url 'delete-todo' todo.id %}"><img src="{% static './image/delete_bin_24px.png' %}" /></a>
                    </div>
                    </div>
                </div>{% endfor %}
            </div>
    </section>
    
</body>
<!-- {% for todo in todo_list %}
   <h4> {{todo.text}} - {{todo.created_at}}</h4>
{% endfor %} -->
</html>